
projects/xcode/sys-app-rutas-nicas.xcworkspace/xcuserdata

projects/xcode/sys-app-rutas-nicas/sys-app-rutas-nicas.xcodeproj/xcuserdata

projects/eclipse-workspace/.metadata/

projects/eclipse-workspace/rutas-tests/Debug

projects/eclipse-workspace/rutas-tests/Release

projects/eclipse-workspace/rutas-core/Debug

projects/eclipse-workspace/rutas-core/Release

